@media all and (min-width: 769px) {
	.site-header {
		position: sticky;
		top: 0;
		z-index: 9999;
		background-color: white;
	}
}

@media all and (max-width: 900px) {
	.header__nav {
		flex-direction: column;
	} 

	.logo__text {
		margin-bottom: 20px;
	}
	.custom-logo {
		width: 200px;
	}
}
@media all and (max-width: 800px) {
	.homepage-testimonials:after,
	.homepage-testimonials:before {
		display: none;
	} 
	.menu-item {
		margin-right: 15px;
	}
}
//Mobile
@media all and (max-width: 768px) {

	.landing__bg {
		background-position: center top;
	}

	.landing__content {
		max-width: 90%;
		margin: 0 auto;
		display: block;
		
		p {
			font-size: 1rem;
			margin-bottom: 10px;
		}
		
		br {
			display: none;
		}
	}

	.landing__title {
		font-size: 1.5rem;
		margin-bottom: 15px;
	}

	.menu-toggle {
		margin: 0 auto;
	}

	.menu-item {
		margin-right: 15px;
		font-size: 14px;
	}

	.footer__title {
		text-align: center;
	}

	.is-justify-center-mobile {
    justify-content: center;
	}

	.is-paddingless-lr-mobile {
		padding-left: 0;
		padding-right: 0;
	}

	.post__image {
		min-height: 300px;
	}
	.post__content {
		top: 0;

		.entry-title {
			font-size: 18px;
		}
	}
}

@media all and (max-width: 599px) {

	.menu-item {
		margin-right: 0;
	}

	.main-navigation li {
		float: none;
		text-align: center;
		margin-top: 10px;
	}

	.content-space--bottom {
		margin-bottom: 66px;
	}
	
	.content-space--top {
		margin-top: 66px;
	}
	
	.intro__title {
		font-size: 25px;
	}

	.intro__content {
		font-size: 18px;
	}
}