@media all and (min-width: 769px) {
	.site-header {
		position: sticky;
		top: 0;
		z-index: 9999;
		background-color: white;
	}

	.footer__title {
		position: relative;
		left: -4px;
	}
}

@media all and (max-width: 900px) {
	.header__nav {
		flex-direction: column;
	}

	.logo__text {
		margin-bottom: 20px;
	}
	.custom-logo {
		width: 200px;
	}

	.landing-cta {
    left: 50%;
		transform: translateX(-50%);

	}


}

@media all and (max-width: 1080px) {
	.vert-sep{
		display:none;
	}
	
	.hww-number-right, .hww-number-left {
	
			display: none;
	}
	
	.hww-right-icon {
	
		float:none;
			display: inline-block;
			margin: 0 auto;
			position: relative;
			transform:translateX(-50%);
			left:50%;
	}
	
	.hww-left-icon {
		float:none;
			display: inline-block;
			margin: 0 auto;
			position: relative;
			transform:translateX(-50%);
			left:50%
	}
	.hww-right-txt {
			max-width: 380px;
			float: none;
			margin-left: 0px;
			text-align: center;
	}
	.hww-left-txt {
			max-width: 380px;
			float: none;
			margin-right: 0px;
			text-align: center;
	}
	
	.hww-right {
			display: inline-block;
			/* background-color: red; */
			float: none;
			/* margin: 0 auto; */
			position: relative;
			left: 50%;
			transform: translateX(-50%);
	
	}
	
	.hww-left {
			display: inline-block;
			/* background-color: red; */
			float: none;
			/* margin: 0 auto; */
			position: relative;
			left: 50%;
			transform: translateX(-50%);
	}
	
	.hww-number-6 {
			display: none;
	
	}
	
	.hww-right {
			margin-bottom: 30px;
	}
	
	.hww-left {
			margin-bottom: 30px;
	}
	
	.txt-narrow-mob {
		max-width:380px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.hww-cont {
	
			padding-left: 15px;
			padding-right: 15px;
	}
	
	.sep-description-box {
			width: 410px;
			background-color:rgba(255, 255, 255, 0.81);
			text-align: center;
			padding: 10px 10px 10px 10px;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translateX(-50%);
	}
	
	
	
	
	}
	

@media all and (max-width: 800px) {
	.homepage-testimonials:after,
	.homepage-testimonials:before {
		display: none;
	}
	.menu-item {
		margin-right: 15px;
	}
}
//Mobile
@media all and (max-width: 768px) {
	.display-mobile-only{
		display:block;
	}
	
	.hide-mobile{
		display:none;
	}
	
	.service-image {
		max-height: 300px;
	}

.tick-list-inner {

    max-width: 300px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.epf-item	img{
	max-height:50px;
}

.icon-sep-line:before {
	content:'';

}
.reason-icon {
    max-width: 79px;
    min-height: 99px;
    display: block;
    margin: 0 auto;
}

img.listing-fde-icon {
    float: left;
    height: 41px;
}

.slider-prev img, .slider-next img {
    height: 30px;
    width: 30px;
}

.slider-prev {
    left: 15px;
    cursor: pointer;
}
.slider-next {
    right: 15px;
    cursor: pointer;
}

	.landing__bg {
		background-position: center top;
	}

	.landing__content {
		max-width: 90%;
		margin: 0 auto;
		display: block;

		p {
			font-size: 1rem;
			margin-bottom: 10px;
		}

		br {
			display: none;
		}
	}

	.landing__title {
		font-size: 1.5rem;
		margin-bottom: 15px;
	}

	.menu-toggle {
		margin: 0 auto;
	}

	.menu-item {
		margin-right: 15px;
		font-size: 14px;
	}

	.footer__title {
		text-align: center;
	}

	.is-justify-center-mobile {
    justify-content: center;
	}

	.is-paddingless-lr-mobile {
		padding-left: 0;
		padding-right: 0;
	}

	.post__image {
		min-height: 300px;
	}
	.post__content {
		top: 0;

		.entry-title {
			font-size: 18px;
		}
	}
	.form__group {
		width: 80%;
		margin: 0 auto;
	}

	.footer__col .is-3-desktop:not(:last-child) {
		background-image: none;
	}

	.single-asp-products .entry-title {
		font-size: 1.2rem;
		letter-spacing: 2px;
	}
	
	.filter__fields {
    column-count: 2;
	}


}

@media all and (max-width: 599px) {
	
	.menu-item {
		margin-right: 0;
	}
	
	.main-navigation li {
		float: none;
		text-align: center;
		margin-top: 10px;
	}
	
	.content-space--bottom {
		margin-bottom: 66px;
	}
	
	.content-space--top {
		margin-top: 66px;
	}
	
	.intro__title {
		font-size: 25px;
	}
	
	.intro__content {
		font-size: 18px;
	}
	
	.landing-cta {
		display: none;
	}

		
	.filter__fields {
    column-count: 1;
	}
}
