/*
Theme Name: twice
*/

/** =VARIABLES */
$brown: #2f1d14;
$orange: #f29460;
$black: #000000;
$white: #ffffff;
$midgrey: #969696;
$lightgrey: #f1f2f3;

$tran-default: all 0.15s ease-in-out;
$text-shadow-default: 1px 3px 3px rgba(0,0,0,0.25);
$text-shadow-second: 1px 1px 1px rgba(0,0,0,0.25);
$box-shadow-default: 0 4px 6px 0 rgba(0,0,0,0.12),
				 	 0 2px 4px 0 rgba(0,0,0,0.08);
$box-shadow-second: 0 4px 6px 0 rgba(0,0,0,0.12),
					0 0px 4px 0 rgba(0,0,0,0.08);
$bold: 700;
$normal: 400;
/** =VARIABLESEND */

/** =MIXINS */
@mixin font--bold() {
	font-weight: bold;
	font-weight: $bold;
}
/** =MIXINSEND */


/** =BASE */

.post, .page {
	margin-bottom: 0;
}

.content-space--bottom {
	margin-bottom: 100px;
}

.content-space--top {
	margin-top: 100px;
}

.twice-sep {
	padding: 30px 0;
}

.twice-sep-small {
	max-width: 300px;
}

.title {
	color: black;
	font-size: 2rem;
	letter-spacing: 3px;

	&--center {
		text-align:  center;
	}

	&--white {
		color: $white;
	}

	&--orange {
		color: $orange;
	}

	&--small {
		font-size: 1.2rem;
	}

	&--case-u {
		text-transform: uppercase;
	}
}


input[type="submit"].btn,
.btn {
	padding: 5px 10px;
	@include font--bold();
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	transition: $tran-default;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	font-size: 0.75rem;
	line-height: 16px;
}

.btn,
button {
	// display: table;
	cursor: pointer;
}

.btn:disabled {
	background-color: $midgrey;
	border-color: $midgrey;
	color: $black;
	pointer-events: none;
}

.btn--block {
	display: inline-block;
}

.btn--large,
input[type="submit"].btn--large {
  padding: 12px 18px;
  font-size: 0.9rem;
}

.btn--small,
input[type="submit"].btn--small {
	padding: 5px;
	font-size: 0.75rem;
}

input[type="submit"].btn--orange,
.btn--orange {
	background-color: $orange;
	border-color: $orange;
	color: $white;
}

input[type="submit"].btn--hover-brown:hover,
.btn--hover-brown:hover {
	background-color: $brown;
	border-color: $brown;
	color: $white;
}

.icon--orange {
	color: $orange;
}

.justify-sb {
	justify-content: space-between;
}

.vl {
	border-left: 1px solid $brown;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -1px;
}

.txt--uc {
	text-transform: uppercase;
	letter-spacing: 1px;	
}

.txt--lc {
	text-transform: lowercase;
	letter-spacing: 1px;
}

/** =BASEEND */


/** =ICONS */
.fa-phone {
	transform: scaleX(-1);
}

.icon--white {
	color: $white;
}
/** =ICONSEND */

/** =HEADER */
.site-header {
	padding-bottom: 5px;
}

.site-header .header__nav.level:not(:last-child) {
	margin-bottom: 0;
}

.topbar {
	background-color: $brown;
	padding: 10px 20px;
	margin-bottom: 5px !important;
}

.custom-logo-link {
	max-width: 200px;
}
.topbar__info {
	@include font--bold();
	color: $orange;
	letter-spacing: 1px;
}

.topbar .level-item + .level-item {
	margin-left: 20px;
}

.header__nav {
	padding-left: 20px;
	padding-right: 20px;
}

.menu-item {
	@include font--bold();
	text-transform: uppercase;
	margin-right: 20px;
	letter-spacing: 1px;
	font-size: 15px;
}

.menu-item a {
	color: $brown;
}

.menu-item a:hover {
	color: $orange;
}

.menu-item:last-child() {
	margin-right: 0;
}

.logo__text {
	text-align: center;
	@include font--bold();
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 5px;
	color: $brown;
}
/** =HEADEREND */

/** =HOMEPAGE */

.section {
	padding: 0 20px;
}
.service__box {
	min-height: 450px;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column-reverse;
}

.service__twice-lifestyle {
	background-position: 20% center;
}

.service__title {
	background: rgba(255,255,255, 0.85);
	color: $orange;
	text-align: center;
	font-size: 26px;
	font-weight: $bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.services__image {
	height: 280px;
	object-fit: cover;
}

.intro__title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;

	h1, h2 {
		@include font--bold();
	}

	h4 {
		font-size: 1.1rem;
		color: $midgrey;
		letter-spacing: 1px;
	}
}

.intro__content {
	max-width: 990px;
	margin: 0 auto;
	font-size: 20px;
}

.testimonials {
	background-color: $brown;
	min-height: 410px;
	padding: 50px 0;
}

.homepage-testimonials {
	color: $white;
}

.testimonial__quote {
	font-size: 18px;
	font-style: italic;
	line-height: 2.2;
}

.testimonial__source {
	font-size: 16px;
	@include font--bold();
	text-align: center;
	margin-top:20px;
	letter-spacing: 1px;
}

.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	border: 1px solid #905c31;
}

.owl-theme .owl-dots .owl-dot.active span {
	background-color: #905c31;
}

.homepage-testimonials:before {
	display: block;
	content: '';
	background: url(/wp-content/uploads/twice-quote.png) no-repeat;
	height: 84px;
	width: 82px;
	background-size: cover;
	transform: scale(-1);
	position: absolute;
	left: -100px;
	top: -20px;
}

.homepage-testimonials:after {
	display: block;
	content: '';
	background: url(/wp-content/uploads/twice-quote.png) no-repeat;
	height: 84px;
	width: 82px;
	background-size: cover;
	position: absolute;
	right: -100px;
	bottom: 40px;
}

.section.team {
	background-color: #f1f2f3;
	min-height: 410px;
	padding: 50px 0;

	.intro__title {
		margin-bottom: 50px;
	}
}
.section.connect {
	padding: 50px 0;
}

.section.connect .title {
	margin-top: 0;
}

.team__headshot {
	padding: 20px;
}

.team__name {
	font-size: 20px;
	@include font--bold();
	letter-spacing: 3px;
	padding-bottom: 5px;
}

.team__jobtitle {
	font-size: 14px;
	letter-spacing: 3px;
	padding-bottom: 5px;
}

.team__email a {
	color: $orange;
	letter-spacing: 3px;
	@include font--bold();
	padding-bottom: 5px;
}

.team .owl-carousel.owl-theme .owl-nav [class*=owl-] {
	border: 1px solid $orange;
	padding: 0.5rem 1rem !important;
	line-height: 1.5rem;
	color: $orange;
	margin-top: 20px;

	span {
		font-size: 2rem;
	}

	&:hover {
		background-color: $orange;
		color: $white;
	}
}

.card {
	box-shadow: none;
	color: $black;
}

.card-content {
	padding: 15px 0 0 0;

	.content {
		min-height: 72px;
		@include font--bold();

		a:hover {
			color: inherit;
		}
	}
}

.card-sep {
	margin-top: 20px;
	max-width: 45%;
	height: 5px;
	background-color: $orange;
}

.card-link {
	border-bottom: 1px solid $black;
}

.card-link:hover {
	border-color: $orange;
}

.card-image > .image {
	margin-bottom: 0;
}

.card-image {
	background-color: rgba(0,0,0,0.25);
	position: relative;
}

.card-image:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.66);
	z-index: 900;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-image--blog:before {
	background-image: url(/wp-content/uploads/post-blog.png);
}
.card-image--linkedin:before {
	background-image: url(/wp-content/uploads/post-in.png);
}
.card-image--facebook:before {
	background-image: url(/wp-content/uploads/post-fb.png);
}
.card-image--instagram:before {
	background-image: url(/wp-content/uploads/post-ig.png);
}

.section.contact {
	background-color: $lightgrey;
	padding: 50px 0;

	.intro__title {
		margin-bottom: 50px;
	}
}

.section.careers-contact {
	.intro__title {
		margin-bottom: 0;
	}

	.vl {
		height: 90%;
	}
}

.contact__input,
.contact__textarea {
	padding: 10px !important;
	width: 100%;
	font-size: 0.875rem;
	letter-spacing: 1px;
	@include font--bold();
	color: #666;
}

.contact__input {
	height: 43px;
}

.topbar__language {
	color: white;
	margin-right: 10px;
}

.topbar_polylang-list li {
	margin: 0;
	list-style-type: none;
	position: relative;
	padding-right: 20px;
	width: 105px;
	&:after {
	 content: "▼";
	 color: $white;
	 position: absolute;
	 right: 20px;
	 top: 0;
	 background: $orange;
	 z-index: 1;
	 text-align: center;
	 width: 15%;
	 height: 100%;
	 pointer-events: none;
	 box-sizing: border-box;
	 font-size: 9px;
	 padding-top: 5px;
	}

}

.topbar_polylang-list select {
	background: transparent;
	-webkit-appearance: none;
	 -moz-appearance: none;
	 background: $orange;
	 color:$white;
	 padding: 0 10px;
	 border:0;

}

.topbar .level-right .level-item + .level-item {
	margin-left: 0;
}

/** =HOMEPAGEEND */


/** =FOOTER */

footer {
	background-color: $brown;
	padding: 30px 0;
	color: #c8c8c8;
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer__title {
	color: $orange;
	@include font--bold();
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.2rem;
	margin-bottom: 10px;
}

.columns.footer__col {
	margin-bottom: 5px;
}

footer a {
	color: #c8c8c8;
	letter-spacing: 1px;
}

footer a:hover {
	color: $orange;
}

.site-info {
	.column {
		padding:.50rem;
	}
}

.footer__col .is-3-desktop:not(:last-child) {
	background-image: url(/wp-content/uploads/footer-seperator.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}



/** =FOOTEREND */

/** =LANDINGPAGE */

.landing__bg {
	min-height: 100vh;
	background-size: cover;
	background-position: top left;
	display: flex;
	align-items: center;
	position: relative;
}

.landing__content {
	max-width: 560px;
	margin-left: 40px;
}

.landing__content > .column {
	background: rgba(255,255,255, 0.9);
}

.landing__title {
	font-size: 2.5rem;
	text-transform: uppercase;
	@include font--bold();
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.temp-warning {
	background-color: $orange;
	padding: 10px;
	color: $brown;
	@include font--bold();
	text-align: center;
}

.landing-cta {
	width: 400px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9rem;
	position: absolute;
	z-index: 20;
	right: 15px;
	margin-top: 5px;
	a {
		color:$white;
	}
	a:hover {
		color: inherit;

	}

	.level-left {
		background-color: $brown;
		width: 200px;
		padding: 5px;

			&:after {
				width: 0;
				height: 0;
				border-top: 0 solid transparent;
				border-bottom: 31px solid transparent;
				border-left: 20px solid $brown;
				content: '';
				display: block;
				position: absolute;
				z-index: 500;
				left: 50%;
				transform: translateX(-50%);
		}
	}

	.level-right {
		background-color: $orange;
		width: 200px;
		padding: 5px;
	}

	.level-item {
		width: 100%;

		&:before {
			width: 0;
			height: 0;
			border-bottom: 0 solid transparent;
			border-top: 31px solid transparent;
			border-right: 20px solid $orange;
			content: '';
			display: block;
			position: absolute;
			z-index: 500;
			right: 50%;
			transform: translateX(50%);
		}
	}
}

.page-template-page-landing .fa-map-marker-alt {
	position: relative;
	top: 4px;
}
/** =LANDINGPAGEEND */

/** BLOG */
.blog-post__image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
}

.blog-post__content {
	margin: 0 auto;
	padding: 20px;

	.entry-title {
		@include font--bold();
		font-size: 1rem;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		color: $brown;
	}

	.entry-meta {
		text-align: center;
		color: $orange;
		@include font--bold();
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 13px;
		letter-spacing: 1px;
	}

	.entry-content {

		a {
			color: $orange;
		}
	}
}

.post__image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.post__content {
	max-width: 700px;
	margin: 0 auto;

	.entry-header {
		padding: 20px;
		position: relative;
		top: -150px;
		background-color: rgba($white, 0.90);

	}

	.entry-content {
		position: relative;
		top: -120px;
	}

	.entry-title {
		@include font--bold();
		font-size: 22px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		color: $brown;
	}

	.entry-meta {
		text-align: center;
		color: $orange;
		@include font--bold();
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 13px;
		letter-spacing: 1px;
	}
}

/** BLOGEND */


/** FORM */

.form__group {
	
	.form__input-text,
	.form__input-date {
		width: 100%;
	}

	.form__label {
		color: #707070;
		font-size: 14px;
	}
	
	.form__req {
		color: $orange;
	}

	.form__heading p,
	.form__empty-space p {
		@include font--bold();
		text-transform: uppercase;
		font-size: 13px;
		color: #707070;
	}

	.form__heading p,
	.form__empty-space p {
		padding-top: 20px;
	}
}

#property-request-form {
	text-align: left;
	margin-top: 40px;
}

/** FORMEND */

/** MODAL */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
	max-width: 1200px;
	overflow: hidden;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 55px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;

	img {
		max-height: 75vh;
		object-fit: cover;
	}
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/** MODALEND */



/** =BILAL */

// Colors

// ACCENTS #f29460
// DARKS #2f1d14
// LIGHTS #e5e1db


.bg-light {
	background-color: #e5e1db;

}

.bg-dark {
	background-color: #2f1d14;
}

.bg-black {
	background-color: black;
}

.d-ib{
	display:inline-block !important;
}


.p-rel {
	position:relative;
}
.p-abs {
	position:absolute;
}

.ehp-btn {
	bottom:25px;
	left:50%;
	transform:translateX(-50%);
}

.hero-btn {
	bottom:75px;
	left:50%;
	transform:translateX(-50%);
}

// Spacing

.my-5{
margin: 3rem 0 3rem 0;
}

.my-4{
	margin:1.8rem 0 1.8rem 0;
}

.mb-5{
	margin-bottom:3rem;
}

.mt-5{
	margin-top:3rem;
}


.mb-4{
	margin-bottom:1.8rem;
}

.mt-4{
	margin-top:1.8rem;
}


.mb-3{
	margin-bottom:1.2rem;
}

.mt-3{
	margin-top:1.2rem;
}

.py-5{
padding: 3rem 0 3rem 0;
}

.py-4{
	padding:1.8rem 0 1.8rem 0;
}

.pb-5{
	padding-bottom:3rem;
}

.pt-5{
	padding-top:3rem;
}


.pb-4{
	padding-bottom:1.8rem;
}

.pt-4{
	padding-top:1.8rem;
}


.pb-3{
	padding-bottom:1.2rem;
}

.pt-3{
	padding-top:1.2rem;
}

.m-0 {
	margin:0;
}





// Spacing End



// Typography
p {
	font-size: 1rem;
    margin-bottom: 1.2rem;
}

.readable-type-sub{
	max-width: 910px;
	margin-left:auto;
	margin-right:auto;
}

.readable-type-small {
	max-width: 650px;
	margin: 0 auto;
}

.fw100{
	font-weight:100;
}
.fw200{
	font-weight:200;
}
.fw300{
	font-weight:300;
}
.fw400{
	font-weight:400;
}
.fw500{
	font-weight:500;
}
.fw600{
	font-weight:600;
}
.fw700{
	font-weight:700;
}


.lead-title	{
	text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2.6rem;
}

.lead-sub	{
	font-size: 1.5rem;

	p {
		font-size: inherit;
	}
}

.txt-center	{
	text-align:center;

	ul {
		text-align: initial;
	}
}

.txt-white {
	color:white;
}

.txt-white strong{
	color:white;
}



// Typography End





// Globel styles for slider


.hero-slider {
	position:relative;
}

.sep-slider-inner {
	height:800px;
	background-color:gray;

}

.sep-hero-slide {
	background-position: center center;
	background-size: cover;
	height: 800px;
}


.slider-prev , .slider-next {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
}

.slider-prev img , .slider-next img {
	height: 50px;
	width:50px;

}

.slider-prev {
	left:50px;
	cursor:pointer;
}

.slider-next {
	right:50px;
		cursor:pointer;
}

.slide-caption {
	background-color: rgba(255, 255, 255, 0.83);

    padding: 1px 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.slide-caption-text {
		margin: 0;
    text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $orange;
 
		a {
			color: $orange;
		}
}

.hero-slider-inner {
	height:750px;
	background-color:gray;

}

.hero-slide {
  height:750px;
	background-position: center center;
	background-size: cover;
}

.reason-icon {
	max-width: 150px;
	min-height: 185px;
	display: block;
	margin: 0 auto;
}

.how-col:not(:first-child) {
	border-left:1px solid gray;
}

.become-a-member-icon img {
 max-height:100px;
 display: block;
 margin: 0 auto;
 margin-bottom:30px;
}

.bold-orange {
	font-weight:700;
	color:#f29460;
}

.custom-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.esteate-homepage-form {
	width: 90%;
}

.estate-location {
	min-height:300px;
	background-position: center center;
	background-size: cover;
}

.location-cannes{
	background-image: url(/wp-content/uploads/estates-cannes-thumb.jpg);
}

.location-monaco{
	background-image: url(/wp-content/uploads/estates-monaco-thumb.jpg);
}

.location-st-tropez{
	background-image: url(/wp-content/uploads/estates-sttropez-thumb.jpg);
}

.private-event,
.evenements-prives-event {
	min-height:400px;
	background-image: url(/wp-content/uploads/private-event-thumb.jpg);
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.corporate-event,
.evenements-dentreprise-event {
	min-height:400px;
	background-image: url(/wp-content/uploads/corporate-bg.jpg);
	background-position: center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event-type-inner {
	background-color: rgba(255,255,255,0.8);
	padding:20px;
	color: #000000 !important;
}

.event-type-list {
	max-height:0;
	overflow: hidden;
	transition: max-height 0.75s;
}

.private-event:hover .event-type-list,
.corporate-event:hover .event-type-list,
.evenements-dentreprise-event:hover .event-type-list,
.evenements-prives-event:hover .event-type-list {
	max-height: 200px; 
}

.epf-item	img{
	max-height:70px;
}

.icon-sep-line:before {
	content:url('/wp-content/uploads/Asset-4-e1556111830212.png');
	position:absolute;
	left: -43px;
    top: 13px;
}

.epf-icon-1-pos-adj {
	position: relative;
	left: 10px
}

.epf-icon-4-pos-adj {
	position: relative;
	left: 15px
}

.b-l {
	border-left:1px solid gray;
}

.b-l-light {
	border-left:1px solid #dedede;
}

.mx-auto-custom{
	margin-left:auto;
	margin-right:auto;
}

.xl-btn-center {
	position: relative;
    left: 50%;
    transform: translatex(-50%);
    margin-top: 50px;
}

.caption-center {
	display: inline-block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size : 1.8rem;
}


img.listing-fde-icon {
    float: left;
    height: 36px;
}

img.listing-fde-icon-small {
    float: left;
    height: 36px;
}

.listing-info{
	float: left;
	margin-left: 10px;
}

.prop-listing-title{
	font-size: 1.5rem;
}
.lifestyle-item-title{
	font-size: 1.5rem;
}

.number-of-rooms {
	  color: #f29755;
    font-size: 14px;
}

.link-to-prop {
	font-size: 14px;
}

p.link-to-ls-item {
    color: gray;
    font-size: 13px;
    float: right;
    margin-top: 13px;
}

.pagination-button {
    display: inline-block;
    /* border-radius: 3px; */
    margin-left: 10px;
		font-weight:700;

		a {
			border: 1px solid #f1984e;
			padding: 9px 18px;

		}
}

.pagination-button.pb-active a {
    background-color: #f1984e;
    color: white;
}

.pagination-buttons {
    display: inline-block;
}

img.full-width-image {
	width:100%;
}

.gray-ticks {
	column-count: 3;

	strong {
		color: $orange;
	}
}

.gray-ticks div {
	margin-left:20px;
	margin-bottom: 10px;
}

.gray-ticks i {
	color: gray;
	margin-right: 10px;
}

.gray-ticks li:before {
	content:url('/wp-content/uploads/graytick.png');
	position:absolute;
	left: -43px;

}

.bold-lead {
	font-size: 1.8rem;
    font-weight: 700;
}


.readable-txt-small {
	max-width:300px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.prop-listing-pic {
	width:100%;
	height: 280px;
	object-fit: cover;
	-webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}

a:hover .prop-listing-pic {
	-webkit-filter: brightness(1.075);
  filter: brightness(1.075);
}

.portfolio-filters {
	margin-bottom:1rem;
	
	.level-item {
		font-size: 0.9rem;
		@include font--bold();
		text-transform: uppercase;
	}

	.active-filter {
		background-color:#f29755;
		border:none;
		color:white;
		justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
		white-space: nowrap;
		border-radius: 4px;
	}
}

.property-hidden {
	display: none;
}
.narrow-container {
	max-width:950px;
}

.offer-header-silver {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,959595+27,959595+74,dcdcdc+100 */
background: #dcdcdc; /* Old browsers */
background: -moz-linear-gradient(left, #dcdcdc 0%, #959595 27%, #959595 74%, #dcdcdc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #dcdcdc 0%,#959595 27%,#959595 74%,#dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #dcdcdc 0%,#959595 27%,#959595 74%,#dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#dcdcdc',GradientType=1 ); /* IE6-9 */
    padding-top: 30px;
    padding-bottom: 30px;
		color: white;
		font-weight: bold;
}

.offer-header-gold {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7d998+0,90813e+25,90813e+75,d7d998+100 */
	background: #d7d998; /* Old browsers */
	background: -moz-linear-gradient(left, #d7d998 0%, #90813e 25%, #90813e 75%, #d7d998 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #d7d998 0%,#90813e 25%,#90813e 75%,#d7d998 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #d7d998 0%,#90813e 25%,#90813e 75%,#d7d998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d998', endColorstr='#d7d998',GradientType=1 ); /* IE6-9 */
    padding-top: 30px;
    padding-bottom: 30px;
		color: white;
		font-weight: bold;
}

.offer-header-black {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#595957+0,000000+35,000000+66,595957+100 */
	background: #595957; /* Old browsers */
	background: -moz-linear-gradient(left, #595957 0%, #000000 35%, #000000 66%, #595957 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #595957 0%,#000000 35%,#000000 66%,#595957 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #595957 0%,#000000 35%,#000000 66%,#595957 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595957', endColorstr='#595957',GradientType=1 ); /* IE6-9 */
    padding-top: 30px;
    padding-bottom: 30px;
		color: white;
		font-weight: bold;
}

h2.package-header {
    color: #f29460;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}


ul.package-list {
	list-style:none;
	margin-bottom:0;
	padding-bottom:0;
}

ul.package-list li {
	position:relative;
	margin-bottom: 1rem;
}

ul.package-list li:before {
	content:url('/wp-content/uploads/Asset-2fdesmaller.png');
	position: absolute;
	left: -23px;
	top: -4px;
}

.no-pb-m-small {
	padding-bottom:0;
	margin-bottom:0;
	padding-top:0;
	margin-top:0;

}

.offer-header-silver {
	position:relative;
}

.offer-header-gold {
	position:relative;
}

.offer-header-black {
	position:relative;
}

.offer-silver:before {
	content: url('/wp-content/uploads/Asset-6ssf.png');

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -71px;
}

.offer-gold:before {
	content: url('/wp-content/uploads/Asset-7smgold.png');

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -71px;
}

.offer-black:before {
	content: url('/wp-content/uploads/Asset-8smblack.png');

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -71px;
}

.container-offers {
	max-width:1500px;
	margin:0 auto;
}

.mb-10 {
	margin-bottom:100px;
}

.light-border{
	border:1px solid gray
}

.offer-column-inner{
	border: 1px solid #e8e8e8;
    padding-bottom: 50px;
}


.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.offers-acc-btn {
	display: inline-block;
    /* margin: 0 auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
		border:2px solid #f29460;
		color:#f29460;
}

.price-head {
	color: #f29460;
	font-weight: 700;
	text-transform: uppercase;
}

.price {
	font-weight: bold;
}

.offerspage-sub  {
	font-size:1.25rem;
	color: $black;

	strong {
		letter-spacing: 2px;
	}

	+ .offerspage-sub {
		margin-top: 1rem;
	}
}



.st-cta {
	position:relative;
}
.st-cta-btn{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
		top: -53px;
}

.offers-tnc{
	max-width:400px;
	display:block;
	margin:0 auto;
}

.container-12m {
	max-width:1000px;
	display: block;
	margin:0 auto;
}

.bg-white {
	background-color:white;
}


.offer-black-corp:before {
	content: url('/wp-content/uploads/Asset-6corp.png');

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -71px;
}


img.hww-icon {
	height: 60px;
}

.hww-cont {
	min-height: 190px;
}

.hww-right-icon {
	max-width: 80px;
	float: left;
}

.hww-right-txt {
	max-width: 380px;
	float: left;
	margin-left: 30px;
}

.hww-left-icon {
	max-width: 80px;
	float: right;
}

.hww-left-txt {
	max-width: 380px;
	float: right;
	margin-right: 30px;
	text-align: right;
}

.hww-right-txt h3 {
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 18px;
}

.hww-left-txt h3 {
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 18px;
}

.hww-right {
min-width: 37%;

/* background-color: red; */
float: right;
}

.hww-left {
min-width: 37%;

/* background-color: red; */
float: left;
}

.container-hww{
max-width:1070px;
margin:0 auto;
}

.hww-number-right {
height:40px;
width:40px;
border:1px solid black;
border-radius:50%;
}
.hww-number-right {
position: absolute;
}
.hww-number-left {
height:40px;
width:40px;
border:1px solid black;
	border-radius:50%;
}
.hww-number-right {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.hww-number-left {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
}

.hww-number-right-pos {
position: absolute;
	top: 7px;
	left: 14px;
	font-weight: 800;
}


.hww-number-left-pos {
position: absolute;
	top: 7px;
	left: 14px;
	font-weight: 800;
}

.hww-number-6 {
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	height:40px;
	width:40px;
	border:1px solid black;
		border-radius:50%;
		background-color:white;
}

.hww-number-6-pos {
position: absolute;
	top: 7px;
	left: 14px;
	font-weight: 800;
}

.vert-sep {
width: 1px;
background-color: black;
height: 935px;
position: absolute;
left: 50%;
top: 0px;
transform: translateX(-50%);
}

.hww-number-right, .hww-number-left {
	background-color: white;
}

.sep-description-box {
	max-width: 410px;
	background-color:rgba(255, 255, 255, 0.81);
	text-align: center;
	padding: 10px 10px 10px 10px;
	position: absolute;
	top: 50%;
	right: 162px;
	transform: translateY(-50%);

	ul {
		text-align: initial;
	}
}

.sep-description-box-inner img.twice-sep-small {
	width: 200px !important;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
		margin-bottom: 20px;
}

h2.sep-title {
	font-size: 1.5rem;
}



.display-mobile-only{
display:none;
}

.hide-mobile{
display: block;
}
.sep-description-box-inner.txt-center {
	padding-left: 15px;
	padding-right: 15px;
}

.page-contact .section.team {
	padding: 40px 0;
}
.page-contact .section.contact,
.page-contact-fr .section.contact {
	background: transparent;
}

.twice-recaptcha {
	font-size: 12px;
}

.quote__content	p {
	color: $orange;
	font-style: italic;
	font-size: 2rem;
}

.quote__source {
	color: white;
	text-align: center;
	font-size: 1.2rem
}

.careers-contact {
	.form__group:not(.form__textarea-group) {
		display: flex;
		margin-bottom: 1rem;
	}

	.form__label {
		width: 150px;
	}

		input[type="file"] {
			line-height: 1;
		}
}
/** =BILALEND */

.page-template-default

h3 {
	color: $orange;
	letter-spacing: 2px;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 5px;
}

h4 {
	color: $orange;
	margin-top: 1rem;
	margin-bottom: 1rem;

	strong {
		color: $orange;
	}
}

.page-template-default article {
	margin-bottom: 40px;
}

div.wpcf7 .loader--center .ajax-loader {
	display: block;
	margin: 4px auto;
}

.submit-is-centered {
	margin-top: 1rem;
}

.twice-hr--orange {
	height: 2px;
	background-color: $orange;
}

.menu-item-has-children>a:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f078';
	color: $orange;
	font-size: 13px;
	padding-left: 5px;
	position: relative;
	top: -1px;
}
.menu-item-has-children .sub-menu {
	border-top: 5px solid transparent;

	a {
		color: $white;
		margin: .5rem .75rem;

		&:hover {
			color: $orange
		}
	}
}

// .main-navigation ul ul {
// 	width: 220px;
// }

.main-navigation ul ul li {
	float: none;
	display: table;
	background-color: $brown;
}

.current-menu-item > a {
	color: $orange
}

.lifestyle-services-title {
	margin-bottom: 1rem;
}

.careers-contact .form__textarea-group {
	position: relative;
	top: -21px;
}
.form__submit-group {
	justify-content: flex-end;
	position: relative;
	right: -16px;
}

.footer-sep > img {
	height: 220px;
	object-fit: contain;
}

.has-text-centered ul li {
	list-style-position: inside;
}

.service-image {
	max-height: 600px;
	object-fit: cover;
}

.asp_post_title {
	display: none !important;
}

.asp_post_item {
	max-width: 900px;
	margin: 0 auto 80px;
	text-align: center;
}

.single-asp-products .entry-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2rem;
	max-width: 1200px;
	margin: 0 auto;
}


.asp_all_buttons_container {
	margin-top: 10px;
}

.asp_price_amount {
	color: $orange;
	font-size: 1.2rem;
}

.single-estate-gallery img {
	cursor: pointer;
}

// Estates Filter

#filter--open.btn--active {
	background-color: $brown;
	border-color: $brown;
}

#filter__options {
	display: none;
	margin-top: 1rem;
	padding: 1rem;
	background-color: $lightgrey;
	
	button {
		margin-top: 2rem;
		width: 110px;
	}
}

.filter__fields {
	column-count: 3;

	.form__group {
		margin-bottom: 1rem;
	}
}

.twice-loader {
	display: none;
}

.twice-loader > img {
	margin: 40px auto;
	display: block;
}

.asp_product_tos_label a {
	color: $orange; 
}

.asp_product_tos_label a:hover {
	border-bottom: 1px solid $orange;
}