<div class="columns is-centered">
	<div class="column is-3-desktop">
		<div class="form__group">
			<div class="form__label">Full name<span class="form__req">*</span></div>
			<div class="form__field">[text* fullname class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">E-mail<span class="form__req">*</span></div>
			<div class="form__field">[email* email class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Phone<span class="form__req">*</span></div>
			<div class="form__field">[text* phone class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Town<span class="form__req">*</span></div>
			<div class="form__field">[text* town class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Country<span class="form__req">*</span></div>
			<div class="form__field">[text* country class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">CV<span class="form__req">*</span></div>
			<div class="form__field">[file* cv-file class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Cover Letter<span class="form__req">*</span></div>
			<div class="form__field">[file* letter-file class:form__input-text]</div>
		</div>

	</div>
	
	<div class="column is-1 is-hidden-mobile" style="position: relative;">
		<div class="vl"></div>
	</div>

	<div class="column is-3-desktop">


		<div class="form__group form__textarea-group">
			<div class="form__label">Message<span class="form__req">*</span></div>
			<div class="form__field">[textarea message class:form__input-text]</div>
		</div>

		
		<div class="form__group">
			<div class="form__submit">
					[submit class:btn class:btn--orange class:btn--large class:btn--hover-brown "Send"]
			</div>
		</div>

		</div>
</div>