<div class="columns is-centered is-multiline">
	<div class="column is-3-desktop">
		<div class="form__group">
			<div class="form__label">Full name<span class="form__req">*</span></div>
			<div class="form__field">[text* fullname class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Member ID</div>
			<div class="form__field">[text member-id class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Your E-mail<span class="form__req">*</span></div>
			<div class="form__field">[email* email class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Villa Name</div>
			<div class="form__field">[text* villa-name class:form__input-text]</div>
		</div>
		<div class="form__group"><div class="form__heading"><p>Guest Type</p></div></div>
		<div class="form__group">
			<div class="form__label">Number of Guests<span class="form__req">*</span></div>
			<div class="form__field">[text* guests class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Number of Gents</div>
			<div class="form__field">[text guests-gents class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Number of Ladies</div>
			<div class="form__field">[text guests-ladies class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Number of Couples</div>
			<div class="form__field">[text guests-couples class:form__input-text]</div>
		</div>

	</div>
	
	<div class="column is-1 is-hidden-mobile" style="position: relative;">
		<div class="vl"></div>
	</div>

	<div class="column is-3-desktop">
		<div class="form__group">
			<div class="form__label">Check-in (from Saturday to Saturday)<span class="form__req">*</span></div>
			<div class="form__field">[date* check-in class:form__input-date]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Check-out<span class="form__req">*</span></div>
			<div class="form__field">[date* check-out class:form__input-date]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Location<span class="form__req">*</span></div>
			<div class="form__field">[text* location class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Budget<span class="form__req">*</span></div>
			<div class="form__field">[text* budget class:form__input-text]</div>
		</div>
		<div class="form__group is-hidden-mobile"><div class="form__empty-space"><p>&nbsp;</p></div></div>
		<div class="form__group">
			<div class="form__label">Number of Children</div>
			<div class="form__field">[text guests-children class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Pets</div>
			<div class="form__field">[text pets class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Special Requirements</div>
			<div class="form__field">[text special-req class:form__input-text]</div>
		</div>

		<div class="form__group">
			<div class="form__label">Other useful information</div>
			<div class="form__field">[text useful-info class:form__input-text]</div>
		</div>

		</div>

		<div class="column is-full has-text-centered">
				<div class="form__group">
						<div class="form__submit submit-is-centered loader--center">
								[submit class:btn class:btn--orange class:btn--large class:btn--hover-brown "Submit"]
						</div>
					</div>
		</div>
</div>